/* https://github.com/chriskempson/tomorrow-theme */

body {
  background-color: #2a2a2a;
  color: #eaeaea;
  font-family: Helvetica;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.instruments {
}

.track {
  /* width: 100%; */
  padding: 1em 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.active-step {
  color: white;
  font-weight: bold;
  background-color: red;
}

.track-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.track-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@keyframes shadow-pulse
{
  0% {
    background-color: #eaeaea;
  }
}

.loading-pulse
{
   animation: shadow-pulse 1s infinite;
}

h1 {
  color: #d54e53;
}

.track-button {
  background-color: #e7c547;
  border: none;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2em 0 0 0.5em;
  cursor: pointer;
}

.play-button {
  background-color: #b9ca4a;
  border: none;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.stop-button {
  background-color: #d54e53;
}

.slider {
  width: 20em;
  -webkit-appearance: none;
  height: 2em;
  background: #eaeaea;
  outline: none;
  padding: 0.5em;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: #70c0b1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background: #70c0b1;
  cursor: pointer;
}

.bpm {
  margin: 0em 1em;
  font-size: 2em;
  font-weight: bold;
  color: #eaeaea;
}
