/* https://github.com/chriskempson/tomorrow-theme */

body {
  background-color: #2a2a2a;
  color: #eaeaea;
  font-family: Helvetica;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.instruments {
}

.track {
  /* width: 100%; */
  padding: 1em 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.active-step {
  color: white;
  font-weight: bold;
  background-color: red;
}

.track-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.track-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@keyframes shadow-pulse
{
  0% {
    background-color: #eaeaea;
  }
}

.loading-pulse
{
   animation: shadow-pulse 2s infinite;
}

h1 {
  color: #d54e53;
}
